apiVersion: v1
kind: Namespace
metadata:
  name: kt-virtual-environment
---
apiVersion: v1
kind: Secret
metadata:
  name: webhook-server-tls
  namespace: kt-virtual-environment
type: kubernetes.io/tls
data:
  tls.crt: LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUMrVENDQWVFQ0ZGMHFCT1N6OFVudW1TMzhHeGVaYUVXTGtKM3ZNQTBHQ1NxR1NJYjNEUUVCQ3dVQU1ENHgKUERBNkJnTlZCQU1NTTFacGNuUjFZV3dnUlc1MmFYSnZibTFsYm5RZ1FXUnRhWE56YVc5dUlFTnZiblJ5YjJ4cwpaWElnVjJWaWFHOXZheUJEUVRBZUZ3MHlNREE0TWpVeE5UQTVOVFphRncwek1EQTRNak14TlRBNU5UWmFNRFF4Ck1qQXdCZ05WQkFNTUtYZGxZbWh2YjJzdGMyVnlkbVZ5TG10MExYWnBjblIxWVd3dFpXNTJhWEp2Ym0xbGJuUXUKYzNaak1JSUJJakFOQmdrcWhraUc5dzBCQVFFRkFBT0NBUThBTUlJQkNnS0NBUUVBOTJCN0NKQXliVUU2dzlxSwpPbGQ4eXQ4MnQxNDQzZ3Z3SGpVRE1VNGNseGh1N0x1SlhoczdTQlljS2RJVWdLZENRcWM3QXhTMGV5amQyb3lTCnVWMmpSSFp1U1ZMamdhUnFlYVJCYWEyZ0c2UTBTUUQrTUJNK1EzNkpNbFlUYzY3cm15MzFDY3ROdlVUZVpKR0gKamZqMUJBcUQ1WmFzNlllWEZCdmx6Vm9XUXNNMkNjOHpzK0wxR2RVRTVva2dXLzFucHpJNkIzZEZSakxOSkVpNgpvaXQyTXBXTi93QXBCdnhaaFN2THhZQW1VTlBpY1YxRkJ5TGRXMjJLZEYxWVVDbkVPZm81VklOY2h0eUQwR0tvCjlObE9JcndwRHY0NWJOZWdiVEoyWXFVOHZLWUlGSC9mL0FzMGN0VEhWdEZTV3JyVDE0RnRGVUphcTNYcEZ6ZG0KSDF4dWhRSURBUUFCTUEwR0NTcUdTSWIzRFFFQkN3VUFBNElCQVFCQkRjc2pkVTFielg2djFoZXFFemkyMkZKRgpFbzBuam9DaitseE51aUhRZHhKckZNa3pHZ3l1dUF4NW1ZK1d6YngzMEh2SldDUnZxQzRWL3pLb0pYTmNMakozCnJ6eFp5aTNDN0xPcWx2cWovTzhVcnVnNXNIVlNWazN3QllGVmQ2aitPUTkzZlBnUGRuM2JiTmFUT3VQcU5SRk0KQWIvOGxmQVJPeXFnWm02NS9Cc2FsaTRIVnI5SUp4eG5nclllYkpEcDhXTGZXVFdFZlFTRDcwc3pHMDB5VWZRegpWSzRKeUNVMm5Za3VuNDN5bi9LSFNUcnhyRVZZQUhqMGRkZEl1WHQ0RGp5Y0J5SnJNMnRLTytLc0Ric2Y3U3owCjBqQWlHUnI2WTNVYlRveEpnc2Q1UnJQTGN1elluWEZ1Wk1INmZpOXA3WGUyYUdqR1B3VjVCaEhadUUveQotLS0tLUVORCBDRVJUSUZJQ0FURS0tLS0tCg==
  tls.key: LS0tLS1CRUdJTiBSU0EgUFJJVkFURSBLRVktLS0tLQpNSUlFb2dJQkFBS0NBUUVBOTJCN0NKQXliVUU2dzlxS09sZDh5dDgydDE0NDNndndIalVETVU0Y2x4aHU3THVKClhoczdTQlljS2RJVWdLZENRcWM3QXhTMGV5amQyb3lTdVYyalJIWnVTVkxqZ2FScWVhUkJhYTJnRzZRMFNRRCsKTUJNK1EzNkpNbFlUYzY3cm15MzFDY3ROdlVUZVpKR0hqZmoxQkFxRDVaYXM2WWVYRkJ2bHpWb1dRc00yQ2M4egpzK0wxR2RVRTVva2dXLzFucHpJNkIzZEZSakxOSkVpNm9pdDJNcFdOL3dBcEJ2eFpoU3ZMeFlBbVVOUGljVjFGCkJ5TGRXMjJLZEYxWVVDbkVPZm81VklOY2h0eUQwR0tvOU5sT0lyd3BEdjQ1Yk5lZ2JUSjJZcVU4dktZSUZIL2YKL0FzMGN0VEhWdEZTV3JyVDE0RnRGVUphcTNYcEZ6ZG1IMXh1aFFJREFRQUJBb0lCQUE3bzQ4RjZYMit5Vk1abApMNXVnbGticitUSklIWWxVa3Q1Zk41Z0xLekg0S1FkZnJrSGJ4bERyOURxWkROOU1OWFFxL0NXTlkrdGdaUzY4CjlrTHgzOXRLZ0E4dlRjTU1rOVpORGh3K2VMM3h3YXo4d0ZWSmM2RkJ5U2NkaFFLZDhsbGlCYmpYWmhJWVNvY3AKTmxCYVJ2bzlZQUhBZVIrQ0twcnRxNFlhL2VoOEdUblVtcHB1VnZlYVkwRXRhWjg1QzFXVzRvUlpnSitJSzU5eQpmNGJodVpXTjZnWDJjN3BNV3J3V1lqZFFoRXZyMXgxN0RDS1RJeGdwZkdTeHo5N2QwNHZKYWFNVHdGSkpKeUJWCjYyTHloTGs5Z3hVbkQwVW42MXNJc2hyRTlocldOZHBOZVBBK244K2Z4dk9UdlRrMG1GbS9ja2xQUmpKY1ZCeFEKSWN1N01vRUNnWUVBL0o1aHh2QWxnSGxWNW9BZzNQL2pVV3RhRGR0bHNvdWhtSEFPbjhTeFRGRGJrSUZmVFdGMAp2a1RrWHVxcDNUOFdsby81Y0d3UEcwRHdIWnFNeDZLYmE3VjZ6ZytNemJrcytVSitkMDhySHlHdmRJak9NaGxkClVOUEpGVkFOUy9meTJ6a0FtQU9sMnBMdzd4ZEE1Wi9GaSt4aWc3VDVNbUVEaXlJaVVaL1Z6M0VDZ1lFQStyQWoKSDlVdGZJbVlkLzd0Vk5FOFJUNnVqcnV2eHNUaXFZUkNkNVYwOHRjQUpHS0J4T29YNzd3Zm5MUksxdGh3UEJ4YgpUT3I0YmdaOXBnQnRvTllsbGZ1T2ZnaFhLZlRkZHdQSExWQkVUaURyd3IxRVdnS0VoSTFhaDFoanhzalR5M3EyCjcvbjZ6TE8zV1FESWY1ZjQ4R2NOQlpXV2twcGpiaDVKTGl2OGJsVUNnWUJlQ1dkRWN1akM1bWYvb2ZxWnlmZUkKdTNtT1p2bDRlVm55TU9TQXZPdHpDVFp5bUhZdGkvVzFUbGZrclY0R0toSHlnaTNNbDYwWDdCaDJMSzN6TXFqQQpjNUgvV3ZLRE1rZDNralVabkxMa3A5bDBlK2lsNWFOREQxTnZSNWxyaWlVeFRncldpNlVWdEZWVDYwZ1JNbVNMCkxiZU9aN1BMK1Nra2hkUllwak1sUVFLQmdEM0J3SlZwL2UrdE1mdDF1Ti9wUDlETE5WT0NWelkvY0p0VU1zK2sKNlErZCtiSDg5bjBkTWxKajVPSEU1Sjd5NlF0VjdRUVE2cXlvT3JIM2J3cHRWd3NRMHJTbnQxbGxzbDFNZC9mbwp5enI0RHp5RlJkNXF1bHl4T2ZrWHhGVEhTcTNaQ0ZJc0lpWGxyQ2huOGZ6RTRwWE92VDEvOFgwaVBaWjJMWThMClZQK1ZBb0dBU2huSEo5akhyRWxaM2xNK1AvYXN3LzQxQWxzMjd2dU00RGVoNHA5dUlja005UHBZNko0N3hqcGYKbVlYZDdwOWJlcGNPUCtaSWZIU05hQm9tUDNhSGl0bElPa1hBVnB4UmJwSWRlU0lwMUQzZGJhWTBWbUQ4RkZaTgpvc3duRnMrRzJxbytxaGNudWppdlBHSjE3WlZBSmlRUXlkSi9oUXNaWTM4cWJlSDF6Yms9Ci0tLS0tRU5EIFJTQSBQUklWQVRFIEtFWS0tLS0tCg==
---
apiVersion: v1
kind: Service
metadata:
  name: webhook-server
  namespace: kt-virtual-environment
spec:
  selector:
    app: webhook-server
  ports:
    - port: 443
      targetPort: webhook-api
---
apiVersion: admissionregistration.k8s.io/v1beta1
kind: MutatingWebhookConfiguration
metadata:
  name: virtual-environment-webhook
webhooks:
  - name: webhook-server.kt-virtual-environment.svc
    failurePolicy: Fail
    clientConfig:
      service:
        name: webhook-server
        namespace: kt-virtual-environment
        path: "/inject"
      caBundle: LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSURYVENDQWtXZ0F3SUJBZ0lVZG42TEl2bDNaV2ltbndEVGwxS3U3ODhKcDBrd0RRWUpLb1pJaHZjTkFRRUwKQlFBd1BqRThNRG9HQTFVRUF3d3pWbWx5ZEhWaGJDQkZiblpwY205dWJXVnVkQ0JCWkcxcGMzTnBiMjRnUTI5dQpkSEp2Ykd4bGNpQlhaV0pvYjI5cklFTkJNQjRYRFRJd01EZ3lOVEUxTURrMU5Wb1hEVE13TURneU16RTFNRGsxCk5Wb3dQakU4TURvR0ExVUVBd3d6Vm1seWRIVmhiQ0JGYm5acGNtOXViV1Z1ZENCQlpHMXBjM05wYjI0Z1EyOXUKZEhKdmJHeGxjaUJYWldKb2IyOXJJRU5CTUlJQklqQU5CZ2txaGtpRzl3MEJBUUVGQUFPQ0FROEFNSUlCQ2dLQwpBUUVBeDYrQkZIaXlkZk9uR3FMRmt4Y2lpL21ZMG9XU3dRV2krTHYwdmNqeklQTndKa2c0V0FJYTRWK0RqdTV2CmZ5NlE2RFhUaitlRnhlK212MmtVSEFtYjNsWS9iT3RaWGp2VnQ4bnBHS1VLdlBBN0hVRFdhUkZKOTR1eUJpQm8KQnlXTnZtTGNka0VFTjRVMVVGTlVIV3B1L1lHNXNaSC9ZQWZjZGEyMDhIUzVkQmllNTNYMmJjdjQrNGhzS3oyOAp0UUR2MmR3ZkxFT2crZ2lVUWRWRHUrN0lXUXpjRkp4NmdpdlBpVkl1UVRHVk04K0tya2dITlhXVjU4OGIwcTU1CnNPNjR2YWQ4cW5XT0t5bk5oSThyZzN0dGVJVkFHdkEvUnJGczFocytERHVBZlMxamhiRWUyUEJHSHVMeGx6TGIKNjR2NUV5VEhEdDVVOS93bFpxS0hMWlZQeFFJREFRQUJvMU13VVRBZEJnTlZIUTRFRmdRVVg1cEI4dkYzbnducQpUUjA1TlVhVlhaQzd4VjB3SHdZRFZSMGpCQmd3Rm9BVVg1cEI4dkYzbnducVRSMDVOVWFWWFpDN3hWMHdEd1lEClZSMFRBUUgvQkFVd0F3RUIvekFOQmdrcWhraUc5dzBCQVFzRkFBT0NBUUVBbFU0YkxNMGlzbm5KaDA1dCs3TDkKWkFtS2M1eXhGdkUremlsK2Y5aEUzdzJpYjI0bVNYTVpOSWEvUWd6akxGK0owQVlIbUxXZTRQa2I4eXliQnVjRQp6d2VRNEc5Y3U2QWV5VFRHTk9zbU5lREx4WGRVOUJ1aElvRmZsR2ZDV1pudHA5ajZsbnFJbndqdjZJWDBEQmc1CkFEbXRNdVVrS0gyMXdUTHhXNVBWSmhQWnZiL3p1ZGNlNUxWRG1zT0Z5cjFkK2lnVnZPVzJJam51QUw3eGpXWFQKenVGYng5NnZBYTJjS0hWRjYyVzdoekp6NURiN0cwdWxJMXptOTF0ZXJaZjRYSHlUT3FzUC8wczFsYjV1V1k5cAo2NUZiZCtHMXJOL2NBcUM4NXo0K1Rrc2QrdTV1ZDFVREc5MEsvRG9UdS9vcis3U3o2bWNWdjVBejlLSHVxRzE2CnlBPT0KLS0tLS1FTkQgQ0VSVElGSUNBVEUtLS0tLQo=
    rules:
      - operations: ["CREATE"]
        apiGroups: [""]
        apiVersions: ["v1"]
        resources: ["pods"]
    namespaceSelector:
      matchLabels:
        environment-tag-injection: enabled
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: webhook-server
  namespace: kt-virtual-environment
  labels:
    app: webhook-server
spec:
  replicas: 1
  selector:
    matchLabels:
      app: webhook-server
  template:
    metadata:
      labels:
        app: webhook-server
    spec:
      volumes:
        - name: webhook-tls-certs
          secret:
            secretName: webhook-server-tls
      containers:
        - name: server
          image: virtualenvironment/virtual-env-admission-webhook:v0.5.2
          imagePullPolicy: Always
          ports:
            - containerPort: 8443
              name: webhook-api
          volumeMounts:
            - name: webhook-tls-certs
              mountPath: /run/secrets/tls
              readOnly: true
          env:
            - name: envLabel
              value: virtual-env  # Comma separated names
            - name: logLevel
              value: INFO         # ERROR | INFO | DEBUG
